# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

/compile_commands.json
/CMakeUserPresets.json
/build
**/_deps/
**/CMakeFiles/
/cmake/presets

# ignore emacs temp files
*~
\#*\#

# ignore vscode settings
.vscode
.cache
