root = .
search-path = build

filter = examples/*
# filter = src/*
filter = include/*

exclude-directories = stagedir
exclude-directories = build/*/*/_deps
exclude-directories = tests
exclude-directories = conan

gcov-ignore-parse-errors = all
print-summary = yes

html-details = build/coverage/index.html

cobertura-pretty = yes
cobertura = build/cobertura.xml

#TBD delete-gcov-files = yes
